[Unit]
Description=Your Node.js App
After=network.target

[Service]
Type=simple
User=harryshapiro # Replace with the user that should run the script
WorkingDirectory=/Users/harryshapiro/developer/record-collection/ # Replace with the directory of your app
ExecStart=/usr/bin/node test.js # Replace with the path to your main Node.js file
Restart=on-failure

[Install]
WantedBy=multi-user.target