@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/neue_montreal_regular.51a78a86.woff');
  font-weight: 400;
}

html {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  font-size: 15px;
  font-family: 'Neue Montreal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #454545f7;
  background: #fff24226;
}

p {
  margin: unset;
}

#root {
  height: 100vh;
}