.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 40px);
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
    
    > div {
        width: calc(50% - 10px);
        max-height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        &.leftBar {
            text-align: left;
        }
        &.rightBar {
            max-width: 450px;
            text-align: right;
            .playerContainerWrapper {
                margin-bottom: 30px;
            }
        }
    }
}