.playerController {
    display: flex;
    flex-direction: column;
    
    .currentSongInfo {
        margin-bottom: 15px;
    }

    .controls {
        display: flex;
        flex-direction: row;
        margin: 0 0 0 auto;
    
        .button {
            margin: 0 0 0 10px;
        }
    }

    .albumCoverArt {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }
}
